@layer base, components, utilities;

@import url('./reset.css') layer(base);
@import url('./utils.css') layer(utilities);
@import './theme.css';

@layer base {
  @unocss preflights;

  body {
    color: var(--text-1);
    height: 100dvh;
    overflow: hidden;
    cursor: url('/assets/ui/cursor.png'), auto;
    image-rendering: pixelated;
    font-smooth: never;
    user-select: none;
    background-color: var(--surface-1);
    -webkit-font-smoothing: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    --pixel-art-scale: 3;
  }

  :is(button, a, input, select, textarea):hover {
    cursor: url('/assets/ui/cursor-hover.png'), auto;
  }

  *:disabled {
    cursor: url('/assets/ui/cursor-disabled.png'), auto;
  }
}

@layer components {
  .some-class {
    color: blue;
  }
}

@layer utilities {
  @unocss default;
  @unocss;
}

*:nth-child(1) {
  --child-index: 1;
}
*:nth-child(2) {
  --child-index: 2;
}
*:nth-child(3) {
  --child-index: 3;
}
*:nth-child(4) {
  --child-index: 4;
}
*:nth-child(5) {
  --child-index: 5;
}
*:nth-child(6) {
  --child-index: 6;
}
*:nth-child(7) {
  --child-index: 7;
}
*:nth-child(8) {
  --child-index: 8;
}
*:nth-child(9) {
  --child-index: 9;
}
*:nth-child(10) {
  --child-index: 10;
}
*:nth-child(11) {
  --child-index: 11;
}
*:nth-child(12) {
  --child-index: 12;
}
